body {
    text-align: left ;
    display: flex;
    font-family: 'Times New Roman', Times, serif ;
    font-size: 50px;
}
nav {
    background-color: pink;
    width: 25%;
    height: 100vh;
    line-height: 100vh;
}
div {
    width: 100%;
}
header, footer {
    background-color: yellow;
    height: 15vh;
    line-height: 15vh;
}
article {
    flex-grow: 3;
}
main {
    display: flex;
    height: 70vh;
    line-height: 70vh;
}
aside {
    background-color: aqua;
    flex-grow: 1;
}
